@page "/flights"

<div class="d-flex flex-row justify-content-evenly">

	<div class="d-flex flex-column">
		<h3>Flights</h3>
		
	</div>

	<div class="d-flex flex-column align-items-center">
		<h3>Reserve</h3>
		<form class="d-flex flex-column align-items-end">
			<div class="form-group d-flex flex-row align-items-center">
				<label for="flight">Flight: </label> &nbsp
				<input type="text" class="form-control" id="inputFlight" />
			</div>
			<div class="form-group d-flex flex-row align-items-center">
				<label for="airline">Airline: </label> &nbsp
				<input type="text" class="form-control" id="inputAirline" />
			</div>
			<div class="form-group d-flex flex-row align-items-center">
				<label for="day">Day: </label> &nbsp
				<input type="text" class="form-control" id="inputDay" />
			</div>
			<div class="form-group d-flex flex-row align-items-center">
				<label for="time">Time: </label> &nbsp
				<input type="text" class="form-control" id="inputTime" />
			</div>
			<div class="form-group d-flex flex-row align-items-center">
				<label for="cost">Cost: </label> &nbsp
				<input type="text" class="form-control" id="inputCost" />
			</div>
			<div class="form-group d-flex flex-row align-items-center">
				<label for="name">Name: </label> &nbsp
				<input type="text" class="form-control" id="inputName" />
			</div>
			<div class="form-group d-flex flex-row align-items-center">
				<label for="citizenship">Citizenship: </label> &nbsp
				<input type="text" class="form-control" id="inputCitizenship" />
			</div>
		</form>
	</div>

</div>


<div class="d-flex flex-row justify-content-center mt-3">
	<h3>Flight Finder</h3>
</div>

@code {

}
