@page "/reservations"
@using Assignment2.Models;

<div class="d-flex flex-row justify-content-evenly">
	<div class="d-flex flex-column align-items-center">
		<h3>Reservation Finder</h3>
		<form class="d-flex flex-row justify-content-evenly">
			<div class="form-group d-flex flex-column align-items-start" type="text">
				<label>Code: </label>
				<input type="text" class="form-control" id="code">
			</div>
			<div class="form-group d-flex flex-column align-items-start">
				<label>Airline: </label>
				<input type="text" class="form-control" id="airline">
			</div>
			<div class="form-group d-flex flex-column align-items-start">
				<label>Name: </label>
				<input type="text" class="form-control" id="name">
			</div>
			<div class=" flex-column justify-content-evenly">
				<button @onclick="FindReservation" type="button" class="btn btn-primary mt-3">Find reservations</button>
			</div>
		</form>
	</div>
</div>

<div class="d-flex flex-column align-items-center">
	<h3>Reservations</h3>
	<div class="flights-list">
		<p>@(new MarkupString(resMessage))</p>
	</div>
</div>

<div class="d-flex flex-column align-items-center">
	<h3>Reserve</h3>
	<form class="d-flex flex-column align-items-end"> 
		<div class="form-group d-flex flex-column align-items-start long">
			<label>Reservation Code: </label>
			<input type="text" class="form-control" id="rescode" placeholder="Reservation Code">
		</div>
		<div class="form-group d-flex flex-column align-items-start long">
			<label>Flight Code: </label>
			<input class="form-control" type="text" id="flycode"placeholder="Flight Code" @bind-value="flightCode" />
		</div>
		<div class="form-group d-flex flex-column align-items-start long">
			<label>Airline: </label>
			<input class="form-control" type="text" id="airline" placeholder="Airline" @bind-value="airline" />
		</div>
		<div class="form-group d-flex flex-column align-items-startab-content long">
			<label>Cost: </label>
			<input class="form-control" type="text" id="cost" placeholder="0" @bind-value="cost" />
		</div>
		<div class="form-group d-flex flex-column align-items-start long">
			<label>Name: </label>
			<input class="form-control" type="text" id="name" placeholder="Name" @bind-value="name" />
		</div>
		<div class="form-group d-flex flex-column align-items-start long">
			<label>Citizenship: </label>
			<input class="form-control" type="text" id="citizenship" placeholder="Citizenship" @bind-value="citizenship" />
		</div>
		<div class="form-group d-flex flex-column align-items-start long">
			<label>Active: </label>
			<input type="text" class="form-control" id="active" placeholder="Active">
		</div>

	</form>
                <div>
                       <button @onclick="SaveReservation" type="button" class="btn btn-primary mt-3">Save</button>
                </div>

</div>


@code {
	static string flightCode;
	static string airline;
	static int cost;
	static string name;
	static string citizenship;

	string resMessage = " ";

	private void FindReservation()
	{

		resMessage = "";

		if (resMessage == "")
		{
			//resMessage += FindReservation().ToString()
		}
	}

    private void SaveReservation()
    {
        var chosenFlight = FlightManager.GetFlights().FirstOrDefault(f => f.FlightCode.Equals(flightCode, StringComparison.OrdinalIgnoreCase));
        
        if (chosenFlight == null)
        {
            resMessage = $"Flight with code {flightCode} not found";
            return;
        }
        
        try
        {
            var reservation = ReservationMaker.makeReservation(chosenFlight, name, citizenship);
            resMessage = $"Reservation saved with code: {reservation.ReservationCode}";
        }
        catch (ArgumentException ex)
        {
            resMessage = ex.Message;
        }
    }
}
