@page "/reservations"
@using Assignment2.Models;

<div class="d-flex flex-row justify-content-evenly">
	<div class="d-flex flex-column align-items-center">
		<h3>Reservation Finder</h3>
		<form class="d-flex flex-row justify-content-evenly">
			<div class="form-group d-flex flex-column align-items-start" type="text">
				<label>Code: </label>
				<input type="text" class="form-control" id="code">
			</div>
			<div class="form-group d-flex flex-column align-items-start">
				<label>Airline: </label>
				<input type="text" class="form-control" id="airline">
			</div>
			<div class="form-group d-flex flex-column align-items-start">
				<label>Name: </label>
				<input type="text" class="form-control" id="name">
			</div>
			<div class=" flex-column justify-content-evenly">
				<button @onclick="@FindReservation" type="button" class="btn btn-primary mt-3">Find reservations</button>
			</div>
		</form>
	</div>
</div>

<div class="d-flex flex-column align-items-center">
	<h3>Reservations</h3>
	<div class="flights-list">
		<p>@(new MarkupString(resMessage))</p>
	</div>
</div>

<div class="d-flex flex-column align-items-center">
	<h3>Reserve</h3>
	<form class="d-flex flex-column align-items-end"> 
		<div class="form-group d-flex flex-column align-items-start long">
			<label>Reservation Code: </label>
			<input type="text" class="form-control" id="rescode" placeholder="Reservation Code" @bind-value="newreservationcode" />
		</div>
		<div class="form-group d-flex flex-column align-items-start long">
			<label>Flight Code: </label>
			<input class="form-control" type="text" id="flycode"placeholder="Flight Code" @bind-value="newflightCode" />
		</div>
		<div class="form-group d-flex flex-column align-items-start long">
			<label>Airline: </label>
			<input class="form-control" type="text" id="airline" placeholder="Airline" @bind-value="newairline" />
		</div>
		<div class="form-group d-flex flex-column align-items-startab-content long">
			<label>Cost: </label>
			<input class="form-control" type="text" id="cost" placeholder="0" @bind-value="newcost" />
		</div>
		<div class="form-group d-flex flex-column align-items-start long">
			<label>Name: </label>
			<input class="form-control" type="text" id="name" placeholder="Name" @bind-value="newname" />
		</div>
		<div class="form-group d-flex flex-column align-items-start long">
			<label>Citizenship: </label>
			<input class="form-control" type="text" id="citizenship" placeholder="Citizenship" @bind-value="newcitizenship" />
		</div>
		<div class="form-group d-flex flex-column align-items-start long">
			<label>Active: </label>
			<input type="text" class="form-control" id="active" placeholder="Active">
		</div>

	</form>
                <div>
                       <button type="button" class="btn btn-primary mt-3">Save</button>
                </div>

</div>


@code {
	static string newflightCode;
	static string newairline;
	static double newcost;
	static string newname;
	static string newcitizenship;
	static string newreservationcode;

	string resMessage = " ";

	ReservationManager rm = new ReservationManager();
	List<Reservation> reservations = ReservationManager.GetReservations();

	Reservation reservation;

	private void FindReservation()
	{
		newreservationcode = "";
		newflightCode = "";
		newairline = "";
		newcost = 0;
		newname = "";
		newcitizenship = "";

		reservations = ReservationManager.Findreservation(newreservationcode, newflightCode, newname);
	}


}

